<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="c-element">
  <template>
    <style>
      /* :host {
        display: block;
      } */
      table {
        margin: 0 auto;
      }

      h2 {
        text-align: center
      }

      th,
      td {
        border: 1px solid black;
      }
    </style>
    <section>
      <h2>[[title]]</h2>
      <table>
        <thead>
          <tr>
            <th>T1</th>
            <th>T2</th>
            <th>T3</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>dato</td>
            <td>dato</td>
            <td>dato</td>
          </tr>
          <tr>
            <td>dato</td>
            <td>dato</td>
            <td>dato</td>
          </tr>
          <tr>
            <td>dato</td>
            <td>dato</td>
            <td>dato</td>
          </tr>
        </tbody>
      </table>
    </section>
  </template>

  <script>
    /**
     * `c-element`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class CElement extends Polymer.Element {
      static get is() {
        return 'c-element';
      }
      static get properties() {
        return {
          title: {
            type: String,
            value: 'Tabla de datos'
          }
        };
      }
    }

    window.customElements.define(CElement.is, CElement);
  </script>
</dom-module>